/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label {
  display: block;
  font-size: 14px;
  margin-top: 4px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

a {
  font-size: 14px;
}

th {
  padding-bottom: 7px;
}

td {
  padding: 0px 5px 7px;
}

li {
  font-size: 14px;
}

.introduction, .start {
  margin: 33px;
}

.top, .home, .show, .edit {
  padding: 33px;
}

.index {
  padding-bottom: 10px;
}

.new-book {
  padding-top: 10px;
}

.submit {
  padding-top: 4px;
  padding-bottom: 4px;
}

.error-box {
  width: 450px;
  border: solid 2px #c00;
  margin-top: 4px;
}

.error-text {
  font-size: 16px;
  color: #fff;
  background-color: #c00;
}

.error-message {
  padding: 30px;
}

.title, .body, .notice {
  margin-bottom: 25px;
}

.notice {
  color: #008000;
}